$inter: "Inter", sans-serif;
$crimson: "Crimson Text", serif;
$dark-col: #161616; 
$light-col: #F5F5F5; 
$primary-col: #537EC5;
$secondary-col: #2d67c3;
$warn-col: #F4CE14;
$success-col: #347928;
$danger-col: #B8001F;